.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2rem;
  height: auto; 
  width: 100%; 

  &__ul {
    grid-column: 2/14;
    grid-row: 1;    

    display: flex;
    justify-content: space-around;

    @media only screen and (min-width: $tp-kicsi) {
      justify-content: flex-end;
    }
    li {
      cursor: pointer;
      font-weight: 700;

      @media only screen and (min-width: $tp-kicsi) {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
      @media only screen and (min-width: $tp-kozepes) {
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
      @media only screen and (min-width: $tp-nagy) {
        &:not(:last-child) {
          margin-right: 4rem;
        }
      }
      &:hover {
        color: $szin-03;
      }
    }
  }
  p {
    display: none;
    grid-column: 2/14;
    grid-row: 1;
    //Logo megjelenítése 600px-nél
    @media only screen and (min-width: $tp-kicsi) {
      display: block;
      justify-self: self-start;
      align-self: center;
    }
  }
}
