//Landing Page - köszöntő oldal
.section_01 {
  min-height: 65rem;
  height: 100vh;
  align-content: center;
  justify-items: center;
  background-image: url("/img/hatter.svg");
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: cover;

  @media only screen and (min-width: $tp-kicsi) {
    background-image: url("/img/asztalGyerekVirag.svg");
    background-position: 35%;
  }

  h1 {
    grid-column: 2/14;
    margin: 2rem 0;
    color: $szin-09;
    text-align: center;

    span {
      color: $szin-08;
    }

    @media only screen and (min-width: $tp-kicsi) {
      grid-column: 2/9;
      justify-self: self-start;
      text-align: left;
    }
  }
  img {
    grid-column: 2/14;
    margin: 1rem 0;
    width: 60%;
    @media only screen and (min-width: $tp-kicsi) {
      display: none;
    }
  }
  p {
    grid-column: 2/14;
    margin: 2rem 0;
    color: $szin-07;
    text-align: center;
    font-weight: 300;
    @media only screen and (min-width: $tp-kicsi) {
      grid-column: 2/8;
      text-align: left;
    }
    @media only screen and (min-width: $tp-kozepes) {
      grid-column: 2/8;
    }
  }
  button {
    grid-column: 2/14;
    margin: 1rem 0;
    min-width: 14rem;
    text-transform: none;

    @media only screen and (min-width: $tp-kicsi) {
      grid-column: 2/9;
      grid-row: 3/4;
      justify-self: self-start;
      margin-top: 2rem;
    }

    &:last-child {
      background-color: $szin-07;      

      @media only screen and (min-width: $tp-kicsi) {     
      grid-row: 3/4;
      justify-self: center;
      margin-left: 8rem;
    }

      &:hover {
        background-color: $szin-08;
      }
    }
  }
}
