.kozepre {
  text-align: center;
}

.jobbra {
  text-align: right;
}

.alapBetu {
  font-weight: 400;
}

.vekonyBetu {
  font-weight: 300;
}

.vastagBetu {
  font-weight: 700;
}

.nagyBetu {
  text-transform: uppercase;
}

.oriasBetu {
  font-size: calc(22px + (45 - 24) * ((100vw - 200px) / (1920 - 200)));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #111538;
  font-size: calc(1em + 1vmin);
}

h1 {
  line-height: 1.3;
}

p {
  font-size: calc(14px + (18 - 14) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}

ul {
  list-style-type: none;
}

ul li {
  color: #5a6086;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

ol {
  margin-left: 1rem;
}

span {
  font-weight: 700;
}

a {
  cursor: pointer;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

svg {
  height: 5rem;
}

@media only screen and (min-width: 37.5em) {
  svg {
    height: 6rem;
  }
}

@media only screen and (min-width: 56.25em) {
  svg {
    height: 7rem;
  }
}

@media only screen and (min-width: 75em) {
  svg {
    height: 8rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  svg {
    height: 9rem;
  }
}

form {
  margin: 2rem 0 7rem 0;
  background-color: #6f85b4;
}

@media only screen and (min-width: 37.5em) {
  form {
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: 56.25em) {
  form {
    margin-bottom: 11rem;
  }
}

@media only screen and (min-width: 75em) {
  form {
    margin-bottom: 14rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  form {
    margin-bottom: 17rem;
  }
}

input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 0.6rem 3rem;
  color: #e2e8f6;
  font-size: calc(0.75em + 1vmin);
}

input[type="submit"] {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #6f85b4;
  color: #e2e8f6;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input[type="submit"]:hover {
  background-color: #111538;
}

textarea {
  display: block;
  width: 100%;
  margin: 1rem 0;
  outline: 0;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 3rem;
  font-size: calc(0.75em + 1vmin);
  color: #c0ceeb;
  font-family: "Roboto", sans-serif;
}

select {
  margin-bottom: 1rem;
}

option {
  width: 100%;
}

button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  padding: 0.5em 2em;
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  background-color: #fdc100;
  font-family: "Roboto", sans-serif;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  color: #fff;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background-color: #f18a00;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1rem, 1fr) (minmax(min-content, 8rem))[12] minmax(1rem, 1fr);
      grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(-webkit-min-content, 8rem)) minmax(1rem, 1fr);
      grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(min-content, 8rem)) minmax(1rem, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 1vw;
}

@media screen and (min-width: 37.5em) {
  .grid {
    -ms-grid-columns: minmax(4rem, 1fr) (minmax(min-content, 8rem))[12] minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(-webkit-min-content, 8rem)) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 8rem)) minmax(4rem, 1fr);
  }
}

@media screen and (min-width: 56.25em) {
  .grid {
    -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 8rem))[12] minmax(6rem, 1fr);
        grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(-webkit-min-content, 8rem)) minmax(6rem, 1fr);
        grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(min-content, 8rem)) minmax(6rem, 1fr);
  }
}

@media screen and (min-width: 75em) {
  .grid {
    -ms-grid-columns: minmax(8rem, 1fr) (minmax(min-content, 8rem))[12] minmax(8rem, 1fr);
        grid-template-columns: minmax(8rem, 1fr) repeat(12, minmax(-webkit-min-content, 8rem)) minmax(8rem, 1fr);
        grid-template-columns: minmax(8rem, 1fr) repeat(12, minmax(min-content, 8rem)) minmax(8rem, 1fr);
  }
}

@media screen and (min-width: 112.5rem) {
  .grid {
    -ms-grid-columns: minmax(10rem, 1fr) (minmax(min-content, 8rem))[12] minmax(10rem, 1fr);
        grid-template-columns: minmax(10rem, 1fr) repeat(12, minmax(-webkit-min-content, 8rem)) minmax(10rem, 1fr);
        grid-template-columns: minmax(10rem, 1fr) repeat(12, minmax(min-content, 8rem)) minmax(10rem, 1fr);
  }
}

#visszaNyil {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  color: #4b9074;
  font-size: 4rem;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  #visszaNyil {
    bottom: 4rem;
    right: 2rem;
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2rem;
  height: auto;
  width: 100%;
}

.nav__ul {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 37.5em) {
  .nav__ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.nav__ul li {
  cursor: pointer;
  font-weight: 700;
}

@media only screen and (min-width: 37.5em) {
  .nav__ul li:not(:last-child) {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .nav__ul li:not(:last-child) {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .nav__ul li:not(:last-child) {
    margin-right: 4rem;
  }
}

.nav__ul li:hover {
  color: #ed7962;
}

.nav p {
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media only screen and (min-width: 37.5em) {
  .nav p {
    display: block;
  }
}

.section_01 {
  min-height: 65rem;
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  background-image: url("/img/hatter.svg");
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: cover;
}

@media only screen and (min-width: 37.5em) {
  .section_01 {
    background-image: url("/img/asztalGyerekVirag.svg");
    background-position: 35%;
  }
}

.section_01 h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  margin: 2rem 0;
  color: #5a6086;
  text-align: center;
}

.section_01 h1 span {
  color: #6f85b4;
}

@media only screen and (min-width: 37.5em) {
  .section_01 h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-column-align: self-start;
        justify-self: self-start;
    text-align: left;
  }
}

.section_01 img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  margin: 1rem 0;
  width: 60%;
}

@media only screen and (min-width: 37.5em) {
  .section_01 img {
    display: none;
  }
}

.section_01 p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  margin: 2rem 0;
  color: #a0b2da;
  text-align: center;
  font-weight: 300;
}

@media only screen and (min-width: 37.5em) {
  .section_01 p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    text-align: left;
  }
}

@media only screen and (min-width: 56.25em) {
  .section_01 p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
  }
}

.section_01 button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  margin: 1rem 0;
  min-width: 14rem;
  text-transform: none;
}

@media only screen and (min-width: 37.5em) {
  .section_01 button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column-align: self-start;
        justify-self: self-start;
    margin-top: 2rem;
  }
}

.section_01 button:last-child {
  background-color: #a0b2da;
}

@media only screen and (min-width: 37.5em) {
  .section_01 button:last-child {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 8rem;
  }
}

.section_01 button:last-child:hover {
  background-color: #6f85b4;
}

.section_02 {
  height: auto;
  background-color: #5a6086;
  color: #fff;
}

.section_02 h3 {
  margin-top: 3rem;
}

@media only screen and (min-width: 56.25em) {
  .section_02 h3 {
    margin-top: 4rem;
  }
}

.section_02 h3, .section_02 p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Amatic SC", cursive;
  font-size: calc(14px + (40 - 14) * ((100vw - 200px) / (1920 - 200)));
}

.section_02 p {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  margin: 1rem 0 2rem 0;
  font-size: calc(12px + (20 - 12) * ((100vw - 200px) / (1920 - 200)));
}

@media only screen and (min-width: 37.5em) {
  .section_02 p {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11/13;
  }
}

@media only screen and (min-width: 56.25em) {
  .section_02 p {
    margin-bottom: 4rem;
  }
}

.section_03 {
  height: auto;
  background-color: #f6f6f8;
  text-align: center;
}

@media only screen and (min-width: 37.5em) {
  .section_03 {
    background-image: url(../img/section-04_hatterkep.png);
    background-position: 28%;
    background-size: cover;
    text-align: left;
  }
}

.section_03 h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  margin-top: 5vh;
  color: #5a6086;
}

.section_03 p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 3rem;
  color: #6f85b4;
}

@media only screen and (min-width: 56.25em) {
  .section_03 p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

@media only screen and (min-width: 75em) {
  .section_03 p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2/13;
  }
}

.section_03 p span {
  color: #5a6086;
}

.section_03 .jellemzo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  margin: 1rem 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 1fr;
      grid-template-columns: 7rem 1fr;
}

.section_03 .jellemzo:nth-child(3) {
  margin-top: 5rem;
}

.section_03 .jellemzo:nth-child(6) {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 56.25em) {
  .section_03 .jellemzo:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .section_03 .jellemzo:nth-child(4) {
    margin-top: 5rem;
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
  }
  .section_03 .jellemzo:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    margin-bottom: 5rem;
  }
  .section_03 .jellemzo:nth-child(6) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
  }
}

@media only screen and (min-width: 112.5rem) {
  .section_03 .jellemzo:nth-child(3) {
    margin-bottom: 3rem;
  }
  .section_03 .jellemzo:nth-child(4) {
    margin-bottom: 3rem;
  }
}

.section_03 .jellemzo i {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  font-size: 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ed7962;
  margin-right: 1rem;
}

@media only screen and (min-width: 37.5em) {
  .section_03 .jellemzo i {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 75em) {
  .section_03 .jellemzo i {
    font-size: 5rem;
  }
}

.section_03 .jellemzo h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  color: #5a6086;
  text-align: left;
}

.section_03 .jellemzo p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 0;
  color: #a0b2da;
  text-align: left;
}

@media only screen and (min-width: 56.25em) {
  .section_03 .jellemzo p {
    min-height: 6rem;
  }
}

.section_03 button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 4rem;
  font-weight: 700;
  text-transform: none;
}

@media only screen and (min-width: 37.5em) {
  .section_03 button {
    -ms-grid-column-align: self-start;
        justify-self: self-start;
  }
}
/*# sourceMappingURL=style.css.map */