.section_03 {
  //1-10 óra kiírás
  ul {
    grid-column: 1/15;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid $szin-08;

    @media only screen and (min-width: $tp-kicsi) {
      grid-column: 2/14;
      justify-content: space-around;
    }
    @media only screen and (min-width: $tp-kozepes) {
      grid-column: 2/14;
    }

    display: flex;

    li {
      cursor: pointer;
      margin-bottom: 1rem;
      text-align: center;
      transition: 0.3s;
      width: min-content;

      &:not(:last-child) {
        margin-right: 3vw;
      }
      @media only screen and (min-width: $tp-kicsi) {
        &:not(:last-child) {
          margin-right: 1rem;
        }
        width: max-content;
      }
      @media only screen and (min-width: $tp-kozepes) {
        &:not(:last-child) {
          margin-right: 3rem;
          margin-bottom: 2rem;
        }
      }

      &:hover {
        color: $szin-04;
        font-weight: 700;
      }
    }
  }
  //Tananyag felirat
  h1 {
    &:nth-child(1) {
      grid-row: 1/2 !important;
    }
    @media only screen and (min-width: $tp-kozepes) {
      grid-column: 1/10 !important;
      text-align: left !important;
    }
  }
  //1-10 óra jellemzője
  ul {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    @media only screen and (min-width: $tp-kozepes) {
      grid-column: 1/10 !important;
      text-align: left !important;
    }
  }
  //Konkrét órai oldalak összefoglaló jellemzői
  .ora {
    grid-column: 1/15;
    grid-row: 3/4;

    display: grid;
    grid-template-columns:
      minmax(0rem, 1fr) repeat(12, minmax(min-content, 10rem))
      minmax(0rem, 1fr);

    h2 {
      grid-column: 1/15;
      margin-bottom: 1rem;
      text-align: center;
      color: $szin-02;

      @media only screen and (min-width: $tp-kozepes) {
        text-align: left;
        margin-bottom: 2rem;
      }
    }
    h3 {
      grid-column: 1/15;
      margin: 1rem 0;
      text-align: center;
      font-weight: 300;

      @media only screen and (min-width: $tp-kozepes) {
        text-align: left;
        margin-top: 2rem;
      }
    }
    p {
      grid-column: 1/15;
      margin-top: 0 !important;
      padding: 0 !important;
    }
    img {
      grid-column: 1/15;
      display: block;
      width: 100%;
      justify-self: center;

      @media only screen and (min-width: $tp-kozepes) {
        justify-self: self-start;
      }
    }
    ol {
      grid-column: 1/15;
      padding: 1rem 0;
      margin-left: 2rem;
      margin-bottom: 2rem;

      @media only screen and (min-width: $tp-kozepes) {
        margin-bottom: 3rem;
      }
      @media only screen and (min-width: $tp-nagy) {
        margin-bottom: 4rem;
      }
      li {
        //padding-left: 1rem;
      }
    }
  }
}
.ora_01-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
    &:nth-child(17) {
      grid-row: 17/18;
    }
    &:nth-child(19) {
      grid-row: 19/20;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
      margin-top: 1rem;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(16) {
      grid-row: 16/17;
    }
    &:nth-child(18) {
      grid-row: 18/19;
    }
    &:nth-child(20) {
      grid-row: 20/21;
    }
  }
  img {
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(15) {
      width: 70%;
      grid-row: 15/16;
    }
  }
}
.ora_02-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
}
.ora_03-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(21) {
      grid-row: 20/21;
    }
    &:nth-child(23) {
      grid-row: 22/23;
    }
    &:nth-child(26) {
      grid-row: 25/26;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(18) {
      grid-row: 17/18;
    }
    &:nth-child(22) {
      grid-row: 21/22;
    }
    &:nth-child(24) {
      grid-row: 23/24;
    }
    &:nth-child(27) {
      grid-row: 26/27;
      margin-bottom: 2rem;
      @media only screen and (min-width: $tp-kozepes) {
        margin-bottom: 3rem;
      }
      @media only screen and (min-width: $tp-nagy) {
        margin-bottom: 4rem;
      }
    }
  }
  img {
    &:nth-child(11) {
      grid-row: 11/12;
      width: 50%;
    }
    &:nth-child(15) {
      grid-row: 15/16;
      width: 60%;
    }
    &:nth-child(17) {
      grid-row: 16/17;
      width: 60%;
    }
    &:nth-child(19) {
      grid-row: 18/19;
      width: 60%;
      @media only screen and (min-width: $tp-kozepes) {
        justify-self: self-start;
      }
    }
    &:nth-child(20) {
      grid-row: 19/20;
      width: 60%;
    }
  }
  ol {
    &:nth-child(25) {
      grid-row: 24/25;
      padding: 2rem 0 0 0;
    }
  }
}
.ora_04-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
  img {
  }
  ul {
    li {
    }
  }
  ol {
    li {
    }
  }
}
.ora_05-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
    &:nth-child(16) {
      grid-row: 16/17;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(17) {
      grid-row: 17/18;
      margin-bottom: 2rem;
      @media only screen and (min-width: $tp-kozepes) {
        margin-bottom: 3rem;
      }
      @media only screen and (min-width: $tp-nagy) {
        margin-bottom: 4rem;
      }
    }
  }
  ol {
    &:nth-child(15) {
      grid-row: 15/16;
      padding: 2rem 0 0 0;
    }
  }
}

.ora_06-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
  ol {
    &:nth-child(15) {
      grid-row: 15/16;
    }
  }
}

.ora_07-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(17) {
      grid-row: 17/18;
      margin-bottom: 2rem;
      @media only screen and (min-width: $tp-kozepes) {
        margin-bottom: 3rem;
      }
      @media only screen and (min-width: $tp-nagy) {
        margin-bottom: 4rem;
      }
    }
  }
  ol {
    &:nth-child(15) {
      grid-row: 15/16;
      padding: 2rem 0 0 0;
    }
  }
}

.ora_08-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
  ol {
    &:nth-child(15) {
      grid-row: 15/16;
    }
  }
}

.ora_09-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
    &:nth-child(16) {
      grid-row: 16/17;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(17) {
      grid-row: 17/18;
      margin-bottom: 2rem;
      @media only screen and (min-width: $tp-kozepes) {
        margin-bottom: 3rem;
      }
      @media only screen and (min-width: $tp-nagy) {
        margin-bottom: 4rem;
      }
    }
  }
  ol {
    &:nth-child(15) {
      grid-row: 15/16;
      padding: 2rem 0 0 0;
    }
  }
}

.ora_10-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(11) {
      grid-row: 11/12;
      @media only screen and (min-width: $tp-kicsi) {
        margin-bottom: 2rem;
      }
      @media only screen and (min-width: $tp-kozepes) {
        margin-bottom: 3rem;
      }
      @media only screen and (min-width: $tp-nagy) {
        margin-bottom: 4rem;
      }
    }
  }
  .tooltip {
    &:nth-child(9) {
      grid-row: 9/10;
      grid-column: 1/15;
      white-space: normal;
      position: relative;

      @media only screen and (min-width: $tp-kicsi) {
        grid-column: 1/15;
        justify-self: center;
      }
      @media only screen and (min-width: $tp-kozepes) {
        justify-self: start;
      }
      @media only screen and (min-width: $tp-nagy) {
        grid-column: 2/12;
      }

      &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }

      .tooltiptext {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        font-family: "Roboto", sans-serif;
        max-width: 35rem;
        width: max-content;
        left: 0%;
        padding: 1rem;
        z-index: 4;
        background-color: $szin-05;

        @media only screen and (min-width: $tp-kicsi) {
          max-width: 55rem;
          left: -145%;
        }
        @media only screen and (min-width: $tp-kozepes) {
          max-width: 70rem;
          left: 15%;
          padding: 2rem;
        }
        @media only screen and (min-width: $tp-nagy) {
          max-width: 80rem;
          padding: 3rem;
          left: 20%;
        }
        &::after {
          left: 50%;
          @media only screen and (min-width: $tp-kicsi) {
            left: 50%;
          }
          @media only screen and (min-width: $tp-kozepes) {
            left: 5%;
          }
        }
      }
    }
  }
}
