.kozepre {
  text-align: center;
}

.jobbra {
  text-align: right;
}

.alapBetu {
  font-weight: 400;
}

.vekonyBetu {
  font-weight: 300;
}

.vastagBetu {
  font-weight: 700;
}

.nagyBetu {
  text-transform: uppercase;
}

.oriasBetu {
  font-size: calc(22px + (45 - 22) * ((100vw - 200px) / (1920 - 200)));
}

.page {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #111538;
  font-size: calc(1em + 1vmin);
}

h1 {
  line-height: 1.3;
}

h2 {
  font-size: calc(16px + (26 - 16) * ((100vw - 200px) / (1920 - 200)));
}

p {
  font-size: calc(14px + (18 - 14) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}

ul {
  list-style-type: none;
}

ul li {
  color: #111538;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: calc(14px + (18 - 14) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}

ol {
  margin-left: 1rem;
  font-size: calc(14px + (18 - 14) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}

span {
  font-weight: 700;
}

a {
  cursor: pointer;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

svg {
  height: 5rem;
}

@media only screen and (min-width: 37.5em) {
  svg {
    height: 6rem;
  }
}

@media only screen and (min-width: 56.25em) {
  svg {
    height: 7rem;
  }
}

@media only screen and (min-width: 75em) {
  svg {
    height: 8rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  svg {
    height: 9rem;
  }
}

form {
  margin: 2rem 0 7rem 0;
  background-color: #6f85b4;
}

@media only screen and (min-width: 37.5em) {
  form {
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: 56.25em) {
  form {
    margin-bottom: 11rem;
  }
}

@media only screen and (min-width: 75em) {
  form {
    margin-bottom: 14rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  form {
    margin-bottom: 17rem;
  }
}

input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  outline: none;
  border: none;
  border-radius: 3rem;
  padding: 0.6rem 3rem;
  color: #e2e8f6;
  font-size: calc(0.75em + 1vmin);
}

input[type="submit"] {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #6f85b4;
  color: #e2e8f6;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input[type="submit"]:hover {
  background-color: #111538;
}

textarea {
  display: block;
  width: 100%;
  margin: 1rem 0;
  outline: 0;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 3rem;
  font-size: calc(0.75em + 1vmin);
  color: #c0ceeb;
  font-family: "Open Sans", sans-serif;
}

select {
  margin-bottom: 1rem;
}

option {
  width: 100%;
}

button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  padding: 0.5em 1.4em;
  border: none;
  border-radius: 3rem;
  background-color: #fdc100;
  font-family: "Open Sans", sans-serif;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  color: #fff;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background-color: #f18a00;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1rem, 1fr) (minmax(min-content, 10rem))[12] minmax(1rem, 1fr);
      grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(1rem, 1fr);
      grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(1rem, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media screen and (min-width: 37.5em) {
  .grid {
    -ms-grid-columns: minmax(4rem, 1fr) (minmax(min-content, 10rem))[12] minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(4rem, 1fr);
  }
}

@media screen and (min-width: 56.25em) {
  .grid {
    -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 10rem))[12] minmax(6rem, 1fr);
        grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(6rem, 1fr);
        grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(6rem, 1fr);
  }
}

@media screen and (min-width: 75em) {
  .grid {
    -ms-grid-columns: minmax(8rem, 1fr) (minmax(min-content, 10rem))[12] minmax(8rem, 1fr);
        grid-template-columns: minmax(8rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(8rem, 1fr);
        grid-template-columns: minmax(8rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(8rem, 1fr);
  }
}

@media screen and (min-width: 112.5rem) {
  .grid {
    -ms-grid-columns: minmax(10rem, 1fr) (minmax(min-content, 10rem))[12] minmax(10rem, 1fr);
        grid-template-columns: minmax(10rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(10rem, 1fr);
        grid-template-columns: minmax(10rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(10rem, 1fr);
  }
}

#visszaNyil {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  color: #4b9074;
  font-size: 4rem;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  #visszaNyil {
    bottom: 4rem;
    right: 2rem;
  }
}

.section_01 {
  grid-gap: 0;
  position: relative;
}

.section_01 .nav {
  grid-column: 1/-1;
  margin: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.1rem;
  display: none;
}

@media only screen and (min-width: 37.5em) {
  .section_01 .nav {
    height: 4rem;
  }
}

@media only screen and (min-width: 75em) {
  .section_01 .nav {
    height: 5rem;
  }
}

.section_01 .nav i {
  color: #ed7962;
  font-size: 3rem;
  cursor: pointer;
  z-index: 3;
}

@media only screen and (min-width: 75em) {
  .section_01 .nav i {
    font-size: 4rem;
  }
}

.section_01 .nav i:hover {
  color: #fdc100;
}

.section_01 .nav #nyilBal {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 75em) {
  .section_01 .nav #nyilBal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-left: 3rem;
  }
}

.section_01 .nav #nyilJobb {
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-column: 13/14;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 75em) {
  .section_01 .nav #nyilJobb {
    -ms-grid-column: 14;
    -ms-grid-column-span: 1;
    grid-column: 14/15;
    margin-right: 3rem;
  }
}

.section_01 .nav ul {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

@media only screen and (min-width: 56.25em) {
  .section_01 .nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (min-width: 75em) {
  .section_01 .nav ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
  }
}

.section_01 .nav ul li:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .section_01 .nav ul li:not(:last-child) {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .section_01 .nav ul li:not(:last-child) {
    margin-right: 4rem;
  }
}

.section_01 .nav ul li p {
  cursor: pointer;
  color: #111538;
  font-weight: 700;
}

.section_01 .nav ul li p:hover {
  color: #fdc100;
}

.section_01 .cimNyil {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  z-index: 3;
}

.section_01 .cimNyil a {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 75em) {
  .section_01 .cimNyil a {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-left: 3rem;
  }
}

.section_01 .cimNyil a i {
  position: relative;
  color: #fdc100;
  font-size: 3rem;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 75em) {
  .section_01 .cimNyil a i {
    font-size: 4rem;
  }
}

.section_01 .cimNyil a i:hover {
  color: #ed7962;
}

.section_01 .cimNyil h1 {
  display: none;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3/14;
  color: #fff;
}

.section_01 .cimNyil h1 span {
  color: #d64c49;
}

@media only screen and (min-width: 500px) {
  .section_01 .cimNyil h1 {
    display: block;
  }
}

@media only screen and (min-width: 56.25em) {
  .section_01 .cimNyil h1 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 11;
    grid-column: 3/14;
  }
}

.section_01 .iker {
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  overflow: hidden;
}

.section_01 .iker h1 {
  position: initial;
  -webkit-transform: initial;
          transform: initial;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 3vh 0 2vh;
}

@media only screen and (min-width: 56.25em) {
  .section_01 .iker h1 {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.section_01 .iker h2 {
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 1vh 0;
  color: #fff;
}

@media only screen and (min-width: 37.5em) {
  .section_01 .iker h2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    min-height: 5rem;
  }
}

@media only screen and (min-width: 75em) {
  .section_01 .iker h2 {
    margin-bottom: 5rem;
    min-height: 0;
  }
}

.section_01 .iker img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin: 1rem 0 2rem;
  width: 40%;
  display: none;
}

@media only screen and (min-width: 37.5em) {
  .section_01 .iker img {
    display: block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 20rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .section_01 .iker img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 2rem;
    width: 23vw;
  }
}

@media only screen and (min-width: 75em) {
  .section_01 .iker img {
    width: 20vw;
  }
}

.section_01 .iker main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-width: 120rem;
  -ms-grid-columns: minmax(0rem, 1fr) (minmax(min-content, 10rem))[12] minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(0rem, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.section_01 .iker main h1 {
  text-align: center;
}

.section_01 .iker main p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: #111538;
}

@media only screen and (min-width: 56.25em) {
  .section_01 .iker main p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    text-align: left;
  }
}

@media only screen and (min-width: 75em) {
  .section_01 .iker main p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
  }
}

.section_01 .iker button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  margin-top: 7vh;
  font-weight: 700;
}

.section_01 .iker-1 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  min-height: 30rem;
  height: 50vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#6474d6), to(#35bdd7));
  background-image: linear-gradient(to top right, #6474d6, #35bdd7);
  position: relative;
}

@media only screen and (min-width: 37.5em) {
  .section_01 .iker-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    min-height: 100vh;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
}

.section_01 .iker-1 h1 {
  color: #a5c86a;
}

.section_01 .iker-2 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 50vh;
  min-height: 30rem;
  margin-top: 50vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffc1b2), to(#ff8cad));
  background-image: linear-gradient(to bottom right, #ffc1b2, #ff8cad);
}

@media only screen and (min-width: 37.5em) {
  .section_01 .iker-2 {
    margin-top: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 14;
    grid-column: 1/15;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
    padding: 0;
    min-height: 60rem;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
}

.section_01 .iker-2 h1 {
  color: #d64c49;
}

.section_01 .iker-2 button {
  background-color: #a5c86a;
}

.section_01 .iker-2 button:hover {
  background-color: #4b9074;
}

.section_02 > h2 {
  font-weight: 300;
}

.section_02 ul li {
  width: 100%;
  max-width: 120rem;
}

.section_02 h2,
.section_02 h3,
.section_02 p {
  margin: 0 !important;
  padding: 0 !important;
  color: #111538 !important;
}

.section_02 h2 {
  min-height: 0 !important;
  margin: 3rem 0 1rem !important;
}

@media only screen and (min-width: 56.25em) {
  .section_02 h2 {
    text-align: left !important;
  }
}

.section_02 h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin: 1rem 0 !important;
  text-align: center;
}

@media only screen and (min-width: 56.25em) {
  .section_02 h3 {
    text-align: left !important;
  }
}

.section_02 h1:nth-child(1) {
  -ms-grid-row: 1 !important;
  -ms-grid-row-span: 1 !important;
  grid-row: 1/2 !important;
}

@media only screen and (min-width: 56.25em) {
  .section_02 h1 {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
    text-align: left !important;
  }
}

.section_02 h2:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media only screen and (min-width: 56.25em) {
  .section_02 h2 {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
    text-align: left !important;
  }
}

.section_02 h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section_02 p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.section_02 p:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.section_02 h2:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.section_02 ul:nth-child(7) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  text-align: center;
}

@media only screen and (min-width: 56.25em) {
  .section_02 ul {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
    text-align: left !important;
  }
}

.section_02 h2:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.section_02 ul:nth-child(9) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  text-align: center;
}

.section_02 h2:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.section_02 ul:nth-child(11) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  text-align: center;
}

.section_02 h2:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.section_02 ul:nth-child(13) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
  text-align: center;
}

.section_02 h2:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.section_02 ul:nth-child(15) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
  text-align: center;
}

.section_02 h2:nth-child(16) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
}

.section_02 ol:nth-child(17) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 56.25em) {
  .section_02 ol {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
    -ms-grid-column-align: self-start !important;
        justify-self: self-start !important;
    text-align: left !important;
    padding-left: 2rem;
  }
}

.section_03 ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid #6f85b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 37.5em) {
  .section_03 ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 56.25em) {
  .section_03 ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
  }
}

.section_03 ul li {
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.section_03 ul li:not(:last-child) {
  margin-right: 3vw;
}

@media only screen and (min-width: 37.5em) {
  .section_03 ul li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .section_03 ul li:not(:last-child) {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .section_03 ul li:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
}

.section_03 ul li:hover {
  color: #d64c49;
  font-weight: 700;
}

.section_03 h1:nth-child(1) {
  -ms-grid-row: 1 !important;
  -ms-grid-row-span: 1 !important;
  grid-row: 1/2 !important;
}

@media only screen and (min-width: 56.25em) {
  .section_03 h1 {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
    text-align: left !important;
  }
}

.section_03 ul:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media only screen and (min-width: 56.25em) {
  .section_03 ul {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
    text-align: left !important;
  }
}

.section_03 .ora {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0rem, 1fr) (minmax(min-content, 10rem))[12] minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(0rem, 1fr);
}

.section_03 .ora h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-bottom: 1rem;
  text-align: center;
  color: #f18a00;
}

@media only screen and (min-width: 56.25em) {
  .section_03 .ora h2 {
    text-align: left;
    margin-bottom: 2rem;
  }
}

.section_03 .ora h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin: 1rem 0;
  text-align: center;
  font-weight: 300;
}

@media only screen and (min-width: 56.25em) {
  .section_03 .ora h3 {
    text-align: left;
    margin-top: 2rem;
  }
}

.section_03 .ora p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  margin-top: 0 !important;
  padding: 0 !important;
}

.section_03 .ora img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  display: block;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 56.25em) {
  .section_03 .ora img {
    -ms-grid-column-align: self-start;
        justify-self: self-start;
  }
}

.section_03 .ora ol {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  padding: 1rem 0;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .section_03 .ora ol {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .section_03 .ora ol {
    margin-bottom: 4rem;
  }
}

.ora_01-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_01-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_01-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_01-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_01-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_01-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_01-page h3:nth-child(17) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
}

.ora_01-page h3:nth-child(19) {
  -ms-grid-row: 19;
  -ms-grid-row-span: 1;
  grid-row: 19/20;
}

.ora_01-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_01-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_01-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_01-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_01-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_01-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
  margin-top: 1rem;
}

.ora_01-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_01-page p:nth-child(16) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
}

.ora_01-page p:nth-child(18) {
  -ms-grid-row: 18;
  -ms-grid-row-span: 1;
  grid-row: 18/19;
}

.ora_01-page p:nth-child(20) {
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  grid-row: 20/21;
}

.ora_01-page img:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_01-page img:nth-child(15) {
  width: 70%;
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
}

.ora_02-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_02-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_02-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_02-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_02-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_02-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_02-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_02-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_02-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_02-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_02-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_02-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_02-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_02-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_03-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_03-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_03-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_03-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_03-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_03-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_03-page h3:nth-child(21) {
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  grid-row: 20/21;
}

.ora_03-page h3:nth-child(23) {
  -ms-grid-row: 22;
  -ms-grid-row-span: 1;
  grid-row: 22/23;
}

.ora_03-page h3:nth-child(26) {
  -ms-grid-row: 25;
  -ms-grid-row-span: 1;
  grid-row: 25/26;
}

.ora_03-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_03-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_03-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_03-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_03-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_03-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_03-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_03-page p:nth-child(18) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
}

.ora_03-page p:nth-child(22) {
  -ms-grid-row: 21;
  -ms-grid-row-span: 1;
  grid-row: 21/22;
}

.ora_03-page p:nth-child(24) {
  -ms-grid-row: 23;
  -ms-grid-row-span: 1;
  grid-row: 23/24;
}

.ora_03-page p:nth-child(27) {
  -ms-grid-row: 26;
  -ms-grid-row-span: 1;
  grid-row: 26/27;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .ora_03-page p:nth-child(27) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .ora_03-page p:nth-child(27) {
    margin-bottom: 4rem;
  }
}

.ora_03-page img:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  width: 50%;
}

.ora_03-page img:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
  width: 60%;
}

.ora_03-page img:nth-child(17) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
  width: 60%;
}

.ora_03-page img:nth-child(19) {
  -ms-grid-row: 18;
  -ms-grid-row-span: 1;
  grid-row: 18/19;
  width: 60%;
}

@media only screen and (min-width: 56.25em) {
  .ora_03-page img:nth-child(19) {
    -ms-grid-column-align: self-start;
        justify-self: self-start;
  }
}

.ora_03-page img:nth-child(20) {
  -ms-grid-row: 19;
  -ms-grid-row-span: 1;
  grid-row: 19/20;
  width: 60%;
}

.ora_03-page ol:nth-child(25) {
  -ms-grid-row: 24;
  -ms-grid-row-span: 1;
  grid-row: 24/25;
  padding: 2rem 0 0 0;
}

.ora_04-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_04-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_04-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_04-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_04-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_04-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_04-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_04-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_04-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_04-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_04-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_04-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_04-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_04-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_05-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_05-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_05-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_05-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_05-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_05-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_05-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_05-page h3:nth-child(16) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
}

.ora_05-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_05-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_05-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_05-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_05-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_05-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_05-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_05-page p:nth-child(17) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .ora_05-page p:nth-child(17) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .ora_05-page p:nth-child(17) {
    margin-bottom: 4rem;
  }
}

.ora_05-page ol:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
  padding: 2rem 0 0 0;
}

.ora_06-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_06-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_06-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_06-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_06-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_06-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_06-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_06-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_06-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_06-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_06-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_06-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_06-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_06-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_06-page ol:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
}

.ora_07-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_07-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_07-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_07-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_07-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_07-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_07-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_07-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_07-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_07-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_07-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_07-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_07-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_07-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_07-page p:nth-child(17) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .ora_07-page p:nth-child(17) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .ora_07-page p:nth-child(17) {
    margin-bottom: 4rem;
  }
}

.ora_07-page ol:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
  padding: 2rem 0 0 0;
}

.ora_08-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_08-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_08-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_08-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_08-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_08-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_08-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_08-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_08-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_08-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_08-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_08-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_08-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_08-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_08-page ol:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
}

.ora_09-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_09-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_09-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_09-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_09-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_09-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_09-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_09-page h3:nth-child(16) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
}

.ora_09-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_09-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_09-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_09-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_09-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_09-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_09-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_09-page p:nth-child(17) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .ora_09-page p:nth-child(17) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .ora_09-page p:nth-child(17) {
    margin-bottom: 4rem;
  }
}

.ora_09-page ol:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
  padding: 2rem 0 0 0;
}

.ora_10-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_10-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_10-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_10-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_10-page h3:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_10-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_10-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_10-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_10-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_10-page p:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

@media only screen and (min-width: 37.5em) {
  .ora_10-page p:nth-child(11) {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .ora_10-page p:nth-child(11) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .ora_10-page p:nth-child(11) {
    margin-bottom: 4rem;
  }
}

.ora_10-page .tooltip:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
  white-space: normal;
  position: relative;
}

@media only screen and (min-width: 37.5em) {
  .ora_10-page .tooltip:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 14;
    grid-column: 1/15;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (min-width: 56.25em) {
  .ora_10-page .tooltip:nth-child(9) {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media only screen and (min-width: 75em) {
  .ora_10-page .tooltip:nth-child(9) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

.ora_10-page .tooltip:nth-child(9):hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ora_10-page .tooltip:nth-child(9) .tooltiptext {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  max-width: 35rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 0%;
  padding: 1rem;
  z-index: 4;
  background-color: #e2e8f6;
}

@media only screen and (min-width: 37.5em) {
  .ora_10-page .tooltip:nth-child(9) .tooltiptext {
    max-width: 55rem;
    left: -145%;
  }
}

@media only screen and (min-width: 56.25em) {
  .ora_10-page .tooltip:nth-child(9) .tooltiptext {
    max-width: 70rem;
    left: 15%;
    padding: 2rem;
  }
}

@media only screen and (min-width: 75em) {
  .ora_10-page .tooltip:nth-child(9) .tooltiptext {
    max-width: 80rem;
    padding: 3rem;
    left: 20%;
  }
}

.ora_10-page .tooltip:nth-child(9) .tooltiptext::after {
  left: 50%;
}

@media only screen and (min-width: 37.5em) {
  .ora_10-page .tooltip:nth-child(9) .tooltiptext::after {
    left: 50%;
  }
}

@media only screen and (min-width: 56.25em) {
  .ora_10-page .tooltip:nth-child(9) .tooltiptext::after {
    left: 5%;
  }
}
/*# sourceMappingURL=iker.css.map */